
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_89 */
#FollowPage_mobilebutton_89 {

}
.ui-btn.FollowPage_mobilebutton_89 {

}
/* mobilecontainer */
.ui-content.FollowPage_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_25 */
.FollowPage_mobilegrid_25 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.FollowPage_mobilegrid_25_wrapper {

}
.FollowPage_mobilegrid_25 > tr > td {
	vertical-align: top;
}
.FollowPage_mobilegrid_25_row_0, .FollowPage_mobilegrid_25_row_0 > td {
	height: 30px
}
/* mobilegridcell_26 */
.FollowPage_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_27 */
.FollowPage_mobilegridcell_27 {
	height:30px !important;
	width:295px;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_2 */
.FollowPage_mobilelabel_2 {
	text-decoration: none; font-weight: bold; color: #ba0000; text-align: right; font-family: Helvetica; font-size: 15px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_4 */
.FollowPage_spacer_4 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilegrid_20 */
.FollowPage_mobilegrid_20 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.FollowPage_mobilegrid_20_wrapper {

}
.FollowPage_mobilegrid_20 > tr > td {
	vertical-align: top;
}
.FollowPage_mobilegrid_20_row_0, .FollowPage_mobilegrid_20_row_0 > td {
	height: 30px
}
/* mobilegridcell_21 */
.FollowPage_mobilegridcell_21 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_78 */
.FollowPage_mobilegrid_78 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.FollowPage_mobilegrid_78_wrapper {

}
.FollowPage_mobilegrid_78 > tr > td {
	vertical-align: top;
}
.FollowPage_mobilegrid_78_row_0, .FollowPage_mobilegrid_78_row_0 > td {
	height: 30px
}
/* mobilegridcell_79 */
.FollowPage_mobilegridcell_79 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_79 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* usermobile */
.FollowPage_usermobile {
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_90 */
.FollowPage_mobilelabel_90 {
	text-decoration: none; font-weight: normal; text-align: right; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_83 */
.FollowPage_mobilegrid_83 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.FollowPage_mobilegrid_83_wrapper {

}
.FollowPage_mobilegrid_83 > tr > td {
	vertical-align: top;
}
.FollowPage_mobilegrid_83_row_0, .FollowPage_mobilegrid_83_row_0 > td {
	height: 30px
}
/* mobilegridcell_84 */
.FollowPage_mobilegridcell_84 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.FollowPage_mobilegridcell_84 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_5 */
.FollowPage_mobilelabel_5 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* nocars */
.FollowPage_nocars {
	margin: 4px 0px 4px 0px;
}
/* spacer_14 */
.FollowPage_spacer_14 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_12 */
#FollowPage_mobilebutton_12 {

}
.ui-btn.FollowPage_mobilebutton_12 {
	margin: 4px 5px 4px 5px;
}
/* spacer_13 */
.FollowPage_spacer_13 {
	width: 260px; height: 20px;
	margin: 4px 0px 4px 0px;
}
/* drivergrid */
.FollowPage_drivergrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.FollowPage_drivergrid_wrapper {
	display: none;
}
.FollowPage_drivergrid > tr > td {
	vertical-align: top;
}
.FollowPage_drivergrid_row_0, .FollowPage_drivergrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_8 */
.FollowPage_mobilegridcell_8 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_8 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spacer_88 */
.FollowPage_spacer_88 {
	width: 260px; height: 5px;
	margin: 4px 0px 4px 0px;
}
/* i1 */
.FollowPage_i1 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i2 */
.FollowPage_i2 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i3 */
.FollowPage_i3 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i4 */
.FollowPage_i4 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i5 */
.FollowPage_i5 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i6 */
.FollowPage_i6 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i7 */
.FollowPage_i7 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i8 */
.FollowPage_i8 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i9 */
.FollowPage_i9 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i10 */
.FollowPage_i10 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i11 */
.FollowPage_i11 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i12 */
.FollowPage_i12 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i13 */
.FollowPage_i13 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i14 */
.FollowPage_i14 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i15 */
.FollowPage_i15 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i16 */
.FollowPage_i16 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i17 */
.FollowPage_i17 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i18 */
.FollowPage_i18 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i19 */
.FollowPage_i19 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i20 */
.FollowPage_i20 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i21 */
.FollowPage_i21 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i22 */
.FollowPage_i22 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i23 */
.FollowPage_i23 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i24 */
.FollowPage_i24 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i25 */
.FollowPage_i25 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i26 */
.FollowPage_i26 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i27 */
.FollowPage_i27 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i28 */
.FollowPage_i28 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i29 */
.FollowPage_i29 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i30 */
.FollowPage_i30 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i31 */
.FollowPage_i31 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i32 */
.FollowPage_i32 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i33 */
.FollowPage_i33 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i34 */
.FollowPage_i34 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i35 */
.FollowPage_i35 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i36 */
.FollowPage_i36 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i37 */
.FollowPage_i37 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i38 */
.FollowPage_i38 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i39 */
.FollowPage_i39 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i40 */
.FollowPage_i40 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i41 */
.FollowPage_i41 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i42 */
.FollowPage_i42 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i43 */
.FollowPage_i43 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i44 */
.FollowPage_i44 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i45 */
.FollowPage_i45 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i46 */
.FollowPage_i46 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i47 */
.FollowPage_i47 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i48 */
.FollowPage_i48 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i49 */
.FollowPage_i49 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* i50 */
.FollowPage_i50 {
	margin: 4px 0px 4px 0px;
	display: none;
}
/* spacer_76 */
.FollowPage_spacer_76 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_77 */
#FollowPage_mobilebutton_77 {

}
.ui-btn.FollowPage_mobilebutton_77 {
	margin: 4px 40px 4px 40px;
}
/* mobilegridcell_30 */
.FollowPage_mobilegridcell_30 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.FollowPage_mobilegridcell_30 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilefooter */
.FollowPage_mobilefooter {
	min-height:38px;
}