
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilebutton_168 */
#Tracking2Page_mobilebutton_168 {

}
.ui-btn.Tracking2Page_mobilebutton_168 {

}
/* mobilebutton_154 */
#Tracking2Page_mobilebutton_154 {

}
.ui-btn.Tracking2Page_mobilebutton_154 {

}
/* mobilecontainer */
.ui-content.Tracking2Page_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilegrid_257 */
.Tracking2Page_mobilegrid_257 {
	height: auto;
	width:100%;
	margin: 4px 0px 12px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_257_wrapper {

}
.Tracking2Page_mobilegrid_257 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_257_row_0, .Tracking2Page_mobilegrid_257_row_0 > td {
	height: 30px
}
/* mobilegridcell_258 */
.Tracking2Page_mobilegridcell_258 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_258 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_262 */
.Tracking2Page_mobilegridcell_262 {
	height:30px !important;
	width:50px;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_262 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_266 */
#Tracking2Page_mobilebutton_266 {

}
.ui-btn.Tracking2Page_mobilebutton_266 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_263 */
.Tracking2Page_mobilegridcell_263 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_263 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileshow */
.Tracking2Page_mobileshow {
	text-decoration: none; font-weight: bold; color: #11ba73; text-align: center; font-family: Helvetica; font-size: 15px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_169 */
.Tracking2Page_mobilegrid_169 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_169_wrapper {

}
.Tracking2Page_mobilegrid_169 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_169_row_0, .Tracking2Page_mobilegrid_169_row_0 > td {
	height: 30px
}
/* mobilegridcell_170 */
.Tracking2Page_mobilegridcell_170 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_170 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_171 */
.Tracking2Page_mobilegridcell_171 {
	height:30px !important;
	width:122px;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_171 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* tmsg */
#Tracking2Page_tmsg {

}
.ui-btn.Tracking2Page_tmsg {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_174 */
.Tracking2Page_mobilegridcell_174 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_174 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* errormsg */
.Tracking2Page_errormsg {
	text-decoration: none; font-weight: bold; color: #11ba73; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* totaltrackgrid */
.Tracking2Page_totaltrackgrid {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_totaltrackgrid_wrapper {

}
.Tracking2Page_totaltrackgrid > tr > td {
	vertical-align: top;
}
.Tracking2Page_totaltrackgrid_row_0, .Tracking2Page_totaltrackgrid_row_0 > td {
	height: 30px
}
/* mobilegridcell_156 */
.Tracking2Page_mobilegridcell_156 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_156 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* totaltrackgridx */
.Tracking2Page_totaltrackgridx {
	height:30px !important;
	width:100%;
	padding: 0px 0px 0px 0px;
}
.Tracking2Page_totaltrackgridx > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* TrackingGrid_60 */
.Tracking2Page_TrackingGrid_60 {
	height: auto;
	width:100%;
	margin: 1px 1px 1px 1px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_TrackingGrid_60_wrapper {

}
.Tracking2Page_TrackingGrid_60 > tr > td {
	vertical-align: top;
}
.Tracking2Page_TrackingGrid_60_row_0, .Tracking2Page_TrackingGrid_60_row_0 > td {
	height: 30px
}
/* griddd_61 */
.Tracking2Page_griddd_61 {
	height:30px !important;
	width:auto;
	padding: 1px 1px 1px 1px;
}
.Tracking2Page_griddd_61 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_2_62 */
.Tracking2Page_mobilegrid_2_62 {
	height: auto;
	width:100%;
	margin: 1px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_2_62_wrapper {

}
.Tracking2Page_mobilegrid_2_62 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_2_62_row_0, .Tracking2Page_mobilegrid_2_62_row_0 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_2_62_row_1, .Tracking2Page_mobilegrid_2_62_row_1 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_2_62_row_2, .Tracking2Page_mobilegrid_2_62_row_2 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_2_62_row_3, .Tracking2Page_mobilegrid_2_62_row_3 > td {
	height: 30px
}
/* mobilegridcell_3_63 */
.Tracking2Page_mobilegridcell_3_63 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_3_63 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* currentspeed_64 */
.Tracking2Page_currentspeed_64 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* speed_label */
.Tracking2Page_speed_label {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_4_65 */
.Tracking2Page_mobilegridcell_4_65 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_4_65 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_11_66 */
.Tracking2Page_mobilelabel_11_66 {
	text-decoration: none; font-weight: bold; color: #000099; text-align: right; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_5_67 */
.Tracking2Page_mobilegridcell_5_67 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_5_67 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* currentadd_125 */
.Tracking2Page_currentadd_125 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 15px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_6_122 */
.Tracking2Page_mobilegridcell_6_122 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_6_122 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_13_127 */
.Tracking2Page_mobilelabel_13_127 {
	text-decoration: none; font-weight: bold; color: #000099; text-align: right; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_7_124 */
.Tracking2Page_mobilegridcell_7_124 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_7_124 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_18_129 */
.Tracking2Page_mobilegrid_18_129 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_18_129_wrapper {

}
.Tracking2Page_mobilegrid_18_129 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_18_129_row_0, .Tracking2Page_mobilegrid_18_129_row_0 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_18_129_row_1, .Tracking2Page_mobilegrid_18_129_row_1 > td {
	height: 30px
}
/* mobilegridcell_19_130 */
.Tracking2Page_mobilegridcell_19_130 {
	height:30px !important;
	width:25px;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_19_130 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_25_131 */
.Tracking2Page_mobilelabel_25_131 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #000099; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_20_132 */
.Tracking2Page_mobilegridcell_20_132 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_20_132 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* coorx_133 */
.Tracking2Page_coorx_133 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 13px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_21_134 */
.Tracking2Page_mobilegridcell_21_134 {
	height:30px !important;
	width:25px;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_21_134 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_26_135 */
.Tracking2Page_mobilelabel_26_135 {
	text-decoration: none; font-weight: normal; font-style: italic; color: #000099; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_22_136 */
.Tracking2Page_mobilegridcell_22_136 {
	height:30px !important;
	width:auto;
	padding: 2px 0px 2px 0px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_22_136 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* coory_137 */
.Tracking2Page_coory_137 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 13px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_8_126 */
.Tracking2Page_mobilegridcell_8_126 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_8_126 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_14_139 */
.Tracking2Page_mobilelabel_14_139 {
	text-decoration: none; font-weight: bold; color: #000099; text-align: right; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_288 */
.Tracking2Page_mobilegridcell_288 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_288 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* distanceDelta */
.Tracking2Page_distanceDelta {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_289 */
.Tracking2Page_mobilegridcell_289 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_289 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilelabel_290 */
.Tracking2Page_mobilelabel_290 {
	text-decoration: none; font-weight: bold; color: #000099; text-align: right; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_49_140 */
.Tracking2Page_mobilegrid_49_140 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_49_140_wrapper {

}
.Tracking2Page_mobilegrid_49_140 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_49_140_row_0, .Tracking2Page_mobilegrid_49_140_row_0 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_49_140_row_1, .Tracking2Page_mobilegrid_49_140_row_1 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_49_140_row_2, .Tracking2Page_mobilegrid_49_140_row_2 > td {
	height: 30px
}
/* mobilegridcell_50_141 */
.Tracking2Page_mobilegridcell_50_141 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_50_141 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_33_142 */
#Tracking2Page_mobilebutton_33_142 {
	display: none;
}
.ui-btn.Tracking2Page_mobilebutton_33_142 {
	margin: 10px 5px 4px 5px;
}
/* mobilegridcell_52_143 */
.Tracking2Page_mobilegridcell_52_143 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_52_143 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_32_144 */
#Tracking2Page_mobilebutton_32_144 {

}
.ui-btn.Tracking2Page_mobilebutton_32_144 {
	margin: 10px 5px 4px 5px;
}
/* mobilegridcell_165 */
.Tracking2Page_mobilegridcell_165 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_165 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_166 */
#Tracking2Page_mobilebutton_166 {
	display: none;
}
.ui-btn.Tracking2Page_mobilebutton_166 {
	margin: 10px 5px 4px 5px;
}
/* mobilegrid_41_149 */
.Tracking2Page_mobilegrid_41_149 {
	height: auto;
	width:100%;
	margin: 1px 1px 1px 1px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_41_149_wrapper {
	display: none;
}
.Tracking2Page_mobilegrid_41_149 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_41_149_row_0, .Tracking2Page_mobilegrid_41_149_row_0 > td {
	height: 30px
}
/* mobilegridcell_42_150 */
.Tracking2Page_mobilegridcell_42_150 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_42_150 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spacer_167 */
.Tracking2Page_spacer_167 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* sendText_152x */
.Tracking2Page_sendText_152x {
	margin: 4px 0px 4px 0px;
}
/* spacer_163 */
.Tracking2Page_spacer_163 {
	width: 260px; height: 5px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_48_153 */
#Tracking2Page_mobilebutton_48_153 {

}
.ui-btn.Tracking2Page_mobilebutton_48_153 {
	margin: 4px 40px 4px 40px;
}
/* msgfb */
.Tracking2Page_msgfb {
	text-decoration: none; font-weight: bold; color: #d12a2a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* spacer_164 */
.Tracking2Page_spacer_164 {
	width: 300px; height: 40px;
	margin: 4px 0px 4px 0px;
}
/* mobilegrid_267_276 */
.Tracking2Page_mobilegrid_267_276 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_267_276_wrapper {

}
.Tracking2Page_mobilegrid_267_276 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_267_276_row_0, .Tracking2Page_mobilegrid_267_276_row_0 > td {
	height: 30px
}
/* mobilegridcell_268_277 */
.Tracking2Page_mobilegridcell_268_277 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_268_277 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_269_278 */
.Tracking2Page_mobilegridcell_269_278 {
	height:30px !important;
	width:170px;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_269_278 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_274_279 */
#Tracking2Page_mobilebutton_274_279 {

}
.ui-btn.Tracking2Page_mobilebutton_274_279 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_272_280 */
.Tracking2Page_mobilegridcell_272_280 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_272_280 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegrid_34_145 */
.Tracking2Page_mobilegrid_34_145 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_34_145_wrapper {

}
.Tracking2Page_mobilegrid_34_145 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_34_145_row_0, .Tracking2Page_mobilegrid_34_145_row_0 > td {
	height: 30px
}
/* mobilegridcell_35_146 */
.Tracking2Page_mobilegridcell_35_146 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}
.Tracking2Page_mobilegridcell_35_146 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* gmap1 */
.Tracking2Page_gmap1 {
	width: 320px; height: 300px;
	margin: 4px 0px 4px 0px;
}
/* marker_40_148 */
.Tracking2Page_marker_40_148 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* spacer_162 */
.Tracking2Page_spacer_162 {
	width: 260px; height: 30px;
	margin: 4px 0px 4px 0px;
}
/* mobilegridcell_160 */
.Tracking2Page_mobilegridcell_160 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_160 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilefooter */
.Tracking2Page_mobilefooter {
	min-height:38px;
}
/* panel_175 */
.Tracking2Page_panel_175 .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Tracking2Page_panel_175:focus {
	outline: 0;
}
/* spacer_176 */
.Tracking2Page_spacer_176 {
	width: 260px; height: 34px;
	margin: 4px 0px 4px 0px;
}
/* mobilelabel_256 */
.Tracking2Page_mobilelabel_256 {
	text-decoration: none; font-weight: bold; color: #910a0a; text-align: center; font-family: Helvetica; font-size: 14px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* nomsgs */
.Tracking2Page_nomsgs {
	text-decoration: none; font-weight: bold; color: #0a7008; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* loopmsg_236 */
.Tracking2Page_loopmsg_236 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_loopmsg_236_wrapper {

}
.Tracking2Page_loopmsg_236 > tr > td {
	vertical-align: top;
}
.Tracking2Page_loopmsg_236_row_0, .Tracking2Page_loopmsg_236_row_0 > td {
	height: 30px
}
/* mobilegridcell_228_237 */
.Tracking2Page_mobilegridcell_228_237 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_228_237 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilecollapsblock_206_238 */
.Tracking2Page_mobilecollapsblock_206_238 {
	margin: 1px 1px 1px 1px;
}
.Tracking2Page_mobilecollapsblock_206_238 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilegrid_209_240 */
.Tracking2Page_mobilegrid_209_240 {
	height: auto;
	width:100%;
	margin: 1px 0px 1px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_209_240_wrapper {

}
.Tracking2Page_mobilegrid_209_240 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_209_240_row_0, .Tracking2Page_mobilegrid_209_240_row_0 > td {
	height: 30px
}
.Tracking2Page_mobilegrid_209_240_row_1, .Tracking2Page_mobilegrid_209_240_row_1 > td {
	height: 30px
}
/* mobilegridcell_210_241 */
.Tracking2Page_mobilegridcell_210_241 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_210_241 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* msgname_242 */
.Tracking2Page_msgname_242 {
	text-decoration: none; font-weight: bold; color: #0b167a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegridcell_212_243 */
.Tracking2Page_mobilegridcell_212_243 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_212_243 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* msgmobile_244 */
.Tracking2Page_msgmobile_244 {
	text-decoration: none; font-weight: bold; color: #0b167a; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* msgtime2_245 */
.Tracking2Page_msgtime2_245 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 1px 0px 1px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_216_247 */
.Tracking2Page_mobilegrid_216_247 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_216_247_wrapper {

}
.Tracking2Page_mobilegrid_216_247 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_216_247_row_0, .Tracking2Page_mobilegrid_216_247_row_0 > td {
	height: 30px
}
/* mobilegridcell_217_248 */
.Tracking2Page_mobilegridcell_217_248 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #0b167a; border-width: 1px; border-style: solid;
}
.Tracking2Page_mobilegridcell_217_248 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* msgtext_249 */
.Tracking2Page_msgtext_249 {
	text-decoration: none; font-weight: normal; color: #1959d4; text-align: center; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* msgdate_251 */
.Tracking2Page_msgdate_251 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* msgtime_252 */
.Tracking2Page_msgtime_252 {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 12px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* msgid */
.Tracking2Page_msgid {
	text-decoration: none; font-weight: normal; font-style: italic; text-align: left; font-family: Helvetica; font-size: 16px;
	margin: 4px 0px 4px 0px;
	display: none;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilegrid_281 */
.Tracking2Page_mobilegrid_281 {
	height: auto;
	width:100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tracking2Page_mobilegrid_281_wrapper {

}
.Tracking2Page_mobilegrid_281 > tr > td {
	vertical-align: top;
}
.Tracking2Page_mobilegrid_281_row_0, .Tracking2Page_mobilegrid_281_row_0 > td {
	height: 30px
}
/* mobilegridcell_282 */
.Tracking2Page_mobilegridcell_282 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_282 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilegridcell_283 */
.Tracking2Page_mobilegridcell_283 {
	height:30px !important;
	width:120px;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_283 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobilebutton_287 */
#Tracking2Page_mobilebutton_287 {

}
.ui-btn.Tracking2Page_mobilebutton_287 {
	margin: 4px 5px 4px 5px;
}
/* mobilegridcell_286 */
.Tracking2Page_mobilegridcell_286 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tracking2Page_mobilegridcell_286 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* spacer_232_255 */
.Tracking2Page_spacer_232_255 {
	width: 260px; height: 5px;
	margin: 4px 0px 4px 0px;
}